/* 
layout.css
Contains the main layout parameters for the elements of the website
*/
@import "./samples.css";

:root { 
    --main-content-height: calc(100vh - 38px);
    --slideover-content-height: calc(100vh - 101px);
}

h1, h2 {
    font-weight: bold;
    padding: 2px;
}
h1 { font-size: xx-large; }
h2 { font-size: x-large; }

p { margin: 1.25em 0; }

table.options { margin-bottom: 1rem;}
table.options p { margin: 0; }
.sub_page { margin-left: 1rem; }

.page_content {
    font-size: 110%;
    padding: 20px 20px 40px 0px;
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    flex-grow: 2;
    -webkit-overflow-scrolling: touch;
}

.page_content h1, .page_content h2 { margin: 30px 0 20px; }
.page_content h1 { padding: 20px 10px; }
.page_content h2 { padding: 10px; }

.page_content img { max-width: 100%; }

.page_content ul, ol {
    margin: 50px;
    padding: 10px;
    list-style-position: outside;
    list-style-image: none;
}
.page_content ul { list-style-type: square; }
.page_content ol { list-style-type: decimal; }

.page_content hr { visibility: hidden; }

.page_content pre {
    padding: 0.2em 0.9em;
    margin: 0 0 20px;
    border-radius: 3px;
    word-break: normal;
    white-space: pre;
    border: 10px;
    white-space: pre;
    overflow-x: auto !important;
}

body.manual {
    display: flex;
    height: 100vh;
    margin: 0;
}

.nav-accordion h2, .switcher-accordion h2 {
    /* Override the global h2 style */
    font-size: medium;
    font-weight: bold;
    padding: 0;
}
.nav-accordion h2 > button {
    /* Reduce the padding of the headings */
    padding: 1rem !important;
}
.switcher-accordion h2 > button {
    /* Reduce the padding of the headings */
    padding: 0.5rem !important;
    border-radius: 0px;
}

.sidebar > *, .content_pane > * { height: var(--main-content-height); }
.sidebar.slide_over > * { height: var(--slideover-content-height); }