/* Light theme */

:root {
    --font: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", "Liberation Sans", sans-serif;

    --text-colour: #5e5e5e;
    --bg-colour: white;

    --link-colour: #1e6ef5;
    --link-hover-colour: deeppink;

    --emphasis-colour: darkorange;

    --code-font: "Hack", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "DroidSansMono", "Lucida Console", "Consolas", "Terminal", "Monaco", "Courier New", monospace;
    --code-colour: deeppink;
    --code-symbol-colour: deeppink;
    --code-keyword-colour: darkorange;
    --code-number-colour: dodgerblue;
    --code-info-colour: grey;

    --nav-link-colour: #333;
    --nav-link-hover-colour: deeppink;
}

/* Element types */
body {
    font-family: var(--font);
    font-size: large;
    color: var(--text-colour);
    background-color: var(--bg-colour);
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-colour) !important;
    text-decoration: underline;
}

em {
    color: var(--emphasis-colour);
}

.page_content strong {
    font-style: italic;
    color: #282828;
}

/* Headings */
h1 {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: deeppink;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
}

/* Code and usage */
pre,
code {
    font-family: var(--code-font);
}

code span {
    font-size: 1em;
}

code {
    color: var(--code-colour);
}

code .symbol {
    color: var(--code-symbol-colour);
}

code .number {
    color: var(--code-number-colour);
}

code .keyword {
    color: var(--code-keyword-colour);
}

code .info {
    color: var(--code-info-colour);
}

.page_content code {}

.page_content pre {
    background-color: rgba(27, 31, 35, 0.05);
    border-color: black;
}

.usage {
    /* placeholder */
}

.usage code {
    font-size: large;
    color: black;
    background-color: white;
}

body.info {
    font-family: "Hack", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "DroidSansMono", "Lucida Console", Consolas, Terminal, Monaco, "Courier New", monospace;
}

body.info a {
    color: deeppink;
}

body.example code {
    font-size: large;
    color: dodgerblue;
}

/* Introduced */
.introduced {
    color: darkorange;
    font-size: medium;
}

/* Tables */
tbody,
td,
th {
    border: 2px solid white;
}

table.options td {
    font-size: medium;
    padding: 2px;
    font-family: "Hack", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "DroidSansMono", "Lucida Console", Consolas, Terminal, Monaco, "Courier New", monospace;
}

table.options td.odd,
table.options td.odd a {
    background-color: #e8e8e8;
    color: #5e5e5e;
}

table.options td.even,
table.options td.even a {
    background-color: #5e5e5e;
    color: white;
}

table.options td p {
    margin: 0 !important;
}

table.details td {
    padding: 8px;
}

table.details td.key {
    font-family: "Hack", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "DroidSansMono", "Lucida Console", Consolas, Terminal, Monaco, "Courier New", monospace;
    font-size: large;
}

table.details td.odd {
    background-color: #f8f8f8;
}

table.details td.even {
    background-color: #e8e8e8;
}

table.details td.odd.key {
    background-color: #74acff;
}

table.details td.even.key {
    background-color: #b2d1ff;
}

table.details .properties {
    font-size: medium;
    font-style: italic;
}

table.examples td {
    padding: 8px;
}

table.examples code {
    color: #5e5e5e;
    font-size: medium;
}

table.examples td.odd {
    background-color: #f8f8f8;
}

table.examples td.even {
    background-color: #e8e8e8;
}

table.examples td.odd.head {
    background-color: #74acff;
}

table.examples td.even.head {
    background-color: #b2d1ff;
}

/* Docs sidebar */
.index {
    background-color: #d3d3d3;
    background-color: #ededed;
}

.index a {
    color: var(--nav-link-colour);
}

.index a:hover {
    color: var(--nav-link-hover-colour);
}

.tabcontent {
    background-color: white;
}

.section_toc.tutorial>.section_toc_list>li>a {
    color: deeppink;
}

/* GUI text and logs */
.asciilogo {
    font-size: medium;
    color: deeppink;
}

.highlight {
    color: deeppink;
}

.error_description {
    font-size: medium;
    background-color: deeppink;
    color: white;
}

.syntax_error_description {
    font-size: medium;
    background-color: dodgerblue;
    color: white;
}

.backtrace {
    font-size: small;
    color: #5e5e5e;
}

.error_line {
    font-size: large;
    color: #5e5e5e;
}

.error_msg {
    font-size: large;
    color: deeppink;
}

.version {
    font-size: small;
}

.strapline {
    font-size: large;
}

/* GUI autocomplete? */
.hljs-string {
    color: #61CE3C;
}

.hljs-symbol {
    color: deeppink;
}

.hljs-number {
    color: #1e90ff;
}

.hljs-keyword {
    color: #ff8c00;
}

.hljs-params {}

.hljs-comment {
    font-style: italic;
}

.hljs {
    color: #5e5e5e;
}

/* Unused??? */
#doc-footer {
    background-color: deeppink;
    color: white;
}

#doc-version {
    color: white;
}

#doc-nav {
    color: #282828;
}

#doc-nav:hover {
    color: white !important;
}

.nav-accordion h2 {
    background-color: revert !important;
}