<div class="flex items-center">
    <Heroicons.Outline.globe_alt class="w-8 h-8 px-2 text-primary-500" />
    <div class="flex-auto py-2">
        <.dropdown label={@active_lang} placement="right">
            <%= for lang <- get_langs() do %>
                <.dropdown_menu_item link_type="live_redirect" to={Routes.live_path(@socket, DocsWeb.PageLive, lang, @active_tab, @active_page)} label={lang} />
            <% end %>
        </.dropdown>
    </div>
</div>
