<ul class="nav nav-pills flex-column">
  <%= for {page, title} <- @page_keys do %>
    <li class="nav-item">
      <%= live_patch to: Routes.live_path(@socket, DocsWeb.PageLive, @active_lang, @active_tab, page) do %>
      <button
        class={is_active(@active_page, page)}
        aria-current="page">
        <%= title %>
      </button>
      <% end %>
    </li>
  <% end %>
</ul>
